body {
  height: 100vh;
  /* mobile viewport bug fix */
  height: -webkit-fill-available;
}

.channels {
  width: 200px;
}

.msg_history {
  height: 70vh;
  background-color: blue;
}

.msg_box {
  height: 80px;
}

.msg {
  bottom: 0;
}
