body {
  background-color: blue;
  display: flex;
  height: 100vh;
  height: -webkit-fill-available;
  margin: 0;
}

.channels {
  background-color: green;
  width: 110px;
}

.msg {
  background-color: orange;
  flex:4;
  display: flex;
  flex-direction: column;
}

.msg_history {
  background-color: red;
  flex:1;
}

.msg_box {
  background-color: green;
  height: 40px;
}
